<div ng-include src="'layout/navbar.html'" ng-controller="AuthenticationCtrl" ></div>
<div id="home">
    <section class="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12"><h1>Manage your meetings</h1></div>
            </div>
            <hr class="divider">
            <div class="row">
                <div class="col-xs-12"><a ng-hide="authentication" href="#/register" class="btn btn-default">Get started!</a></div>
                <div class="col-xs-12"><a ng-hide="!authentication" href="#/userpage" class="btn btn-default">Get started!</a></div>
            </div>
            <div class="row">
                <div class="col-xs-12"></div>
            </div>
        </div>
    </section >
    <section  class="content-text">                             
        <div class="container">
            <div class="row headline">
                <div class="col-xs-12"><h2><img src="resources/logBook.png"/>Meeting Planning Made Easy</h2></div>
            </div>
            <div class="row">
                <div class="col-xs-12"><p>Plan your meetings with our easy to use interface. It helps you keep track of things.</p></div>
            </div>
        </div>
    </section >
    <section  class="demo">                             
        <div class="container">
            <hr class="divider">
            <div class="row">
                <div class="demoImage col-xs-12 col-md-6">
                    <img src="resources/demo1.png"/>
                </div>
                <div class="demoDescription col-xs-12 col-md-6">
                    <h2>Power to the User</h2>
                    <p>With your account and easy to set privacy settings, you can keep a tab on who sees what and who knows your schedule. Your privacy is our priority!</p>
                </div>
            </div>
            <hr class="divider">
            <div class="row">
                <div class="demoDescription col-xs-12 col-md-6">
                    <h2>Flag Important Events</h2>
                    <p>We let you flag your important meetings so that you never miss them on your schedule, even when on the go!</p>
                </div>
                <div class="demoImage col-xs-12 col-md-6">
                    <img src="resources/demo2.png"/>
                </div>
            </div>
        </div>
    </section >
</div>
<div ng-include src="'layout/footer.html'"></div>