.main-user-page,.user-messages,.user-settings{
    padding-top: 65px;
}

/* user page navbar css*/

.main-user-page{
    margin-bottom: 100px;
}

.main-user-page .loadingLogo{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.main-user-page .meeting-box ul{
    list-style-type: none;
}

.main-user-page .item{
    padding: 15px 15px 15px 15px;
}

.main-user-page  .meeting-box{
    background-color: white;
    display: inline-block;
    width: 90%;
    height: 400px;
    padding: 15px 15px 15px 15px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    overflow: hidden;
}

.main-user-page .meeting-box .info-list{
    display: inline-block;
    width: 100%;
    height: 340px;
    overflow-y: auto;
    overflow-x: hidden;
}

.main-user-page .item .title{
    display: table;
    width: 100%;
}


.main-user-page .item .title a{
    color: black;
}

.main-user-page .item .info-list .title a:hover{
    cursor: pointer !important;
    color: #1DA1F2;
}

.main-user-page .item .shared-tag{
    display: inline-block;
    width: 100%;
    color: red;
    margin-bottom: 10px;
}
/*
Once : #FF0000 red
Yearly : #FF8000 orage
Monthly : #CCCC00 yellow
Weekly : #66CC00 green
Daily ; #00CCCC blue
*/

.main-user-page .Once{
    border-top: 3px solid #FF0000;
}

.main-user-page .Once .type{
    color: #FF0000;
    border: 1px solid #FF0000;
}
.main-user-page .Yearly{
    border-top: 3px solid #FF8000;
}

.main-user-page .Yearly .type{
    color: #FF8000;
    border: 1px solid #FF8000;
}
.main-user-page .Monthly{
    border-top: 3px solid #CCCC00;
}

.main-user-page .Monthly .type{
    color: #CCCC00;
    border: 1px solid #CCCC00;
}

.main-user-page .Weekly{
    border-top: 3px solid #66CC00;
}

.main-user-page .Weekly .type{
    color: #66CC00;
    border: 1px solid #66CC00;
}

.main-user-page .Daily{
    border-top: 3px solid #00CCCC;
}

.main-user-page .Daily .type{
    color: #00CCCC;
    border: 1px solid #00CCCC;
}

.main-user-page .item .latest .Today{
    color: red;
    font-weight: bold;
}

.main-user-page .item .latest .Tomorrow{
    color: green;
    font-weight: bold;
}

.main-user-page .item .latest .Day-After-Tomorrow{
    color: #1DA1F2;
    font-weight: bold;
}
/*
End of the kinds
*/

.main-user-page .item .tag-row{
    margin-top: -10px;
    width: 100%;
    display: table;
}
.main-user-page .item .tags{
    display: table-cell;
    width: calc(100% - 55px);
}
.main-user-page .meeting-title label{
    display: block; /* Fallback for non-webkit */
    vertical-align: middle;
    display: -webkit-box;
    font-size: 21px;
    line-height: 1.4;
    -webkit-line-clamp: 2;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 57px;
}

.main-user-page .item .dropdown{
    display: table-cell;
    vertical-align: middle;
    width: 25px;
}
.main-user-page .item .dropdown-menu{
    left: auto;
    right: 0px;
    top: 30px;
}

.main-user-page .item .dropdown-menu span{
    display: inline-block;
    width: 30px;
}

.main-user-page .item .dropdown-menu a:hover{
    background-color: gray;
    color: white;
    cursor: pointer;
}
.main-user-page .setting-btn{
    background-color: white;
    border: none;
}

.main-user-page .setting-btn:hover{
    cursor: pointer;
    color: #66B2FF;
}

.main-user-page .item .type{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.main-user-page .item .mark{
    color: #CC0066;
    font-size: 30px;
    display: table-cell;
    text-align: right;
    vertical-align: bottom;
}

.main-user-page .item .info label{
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

.main-user-page .item  .date .day-table{
    display: inline-block;
    width: 75%;
    max-height: 85px;
    overflow-y: auto;
}
.main-user-page .item  .date .once span,
.main-user-page .item  .date .daily span{
    display: inline-block;
    width: 100px;
    border: 1px solid black;
    text-align: center;
}
.main-user-page .item .date .week-day{
    display: inline-block;
    width: 40px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 5px;
    border: 1px solid black;
}
.main-user-page .item .date .month-day{
    display: inline-block;
    width: 25px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 5px;
    border: 1px solid black;
}
.main-user-page .item .date .last-day{
    display: inline-block;
    width: 70px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 5px;
    border: 1px solid black;
}

.main-user-page .item .date .year-day{
    display: inline-block;
    width: 60px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
}
.main-user-page .item .member label{
    display: inline-block;
    width: 100%;
}

.main-user-page .item .member a{
    display: inline-block;
    margin-right: 10px;
    color: #66B2FF;
}

.main-user-page .item .member a:hover{
    color: #0066CC;
    text-decoration: none;
    cursor: pointer;
}

.main-user-page .item .footer{
    width: 100%;
    text-align: right;
    display: table;
    height: 30px;
}

.main-user-page .item .tag-row .tags a{
    display: inline-block; 
    vertical-align: middle;
    width: 30px;
    color: #E0E0E0;
}

.main-user-page .item .footer a{
    display: table-cell;
    text-align: left;
    width: 50%;
    vertical-align: middle;
    color: #E0E0E0;
}

.main-user-page .item .tag-row .important-mark{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-top: -6px;
    width: 30px;
    color: #E0E0E0;
}

.main-user-page .item .tag-row .false:hover{
    color: gray;
    cursor: pointer;
}

.main-user-page .item .tag-row .true{
    color: red;
}

.main-user-page .item .tag-row .true:hover{
    color: #66B2FF;
    cursor: pointer;
}

.main-user-page .item .footer a:hover{
    text-decoration: none;
    color: gray;
    cursor: pointer
}

.main-user-page .description{
    max-height: 260px;
}

/*
Animate test
*/
.ng-enter,.ng-move{
    -webkit-animation:0.5s my_animation_r;
    -moz-animation:0.5s my_animation_r;
    -o-animation:0.5s my_animation_r;
    animation:0.5s my_animation_r;
}

.ng-leave {
    -webkit-animation:0.4s my_animation;
    -moz-animation:0.4s my_animation;
    -o-animation:0.4s my_animation;
    animation:0.4s my_animation;
}

@keyframes my_animation {
    from { opacity:1; }
    to { opacity:0; }
}
@keyframes my_animation_r{
    from { opacity:0; }
    to { opacity:1; }
}
@keyframes my_animation_repeat{
    0%{ opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes my_animation {
    from { opacity:1; }
    to { opacity:0; }
}
@-webkit-keyframes my_animation_r {
    from { opacity:0; }
    to { opacity:1; }
}
@-moz-keyframes my_animation {
    from { opacity:1; }
    to { opacity:0; }
}
@-moz-keyframes my_animation_r {
    from { opacity:0; }
    to { opacity:1; }
}
@-o-keyframes my_animation {
    from { opacity:1; }
    to { opacity:0; }
}
@-o-keyframes my_animation_r {
    from { opacity:0; }
    to { opacity:1; }
}
/*
End of animate test
*/
.main-user-page .item .description p{
    display: inline-block;
}

.main-user-page .edit-meeting .input-type .text,
.main-user-page .edit-meeting .input-date .text{
    text-align: left;
    display: inline-block;
    width: calc(100% - 15px);
}

button:active,
button:focus
{
    outline: none;
}

.main-user-page .edit-meeting .input-date .input-group{
    width: 100%;
}

.main-user-page .edit-meeting .input-date .weekly .week-day{
    display: inline-block;
    width: 53px;
    margin-right: 5px;
    margin-top: 10px;
}

.main-user-page .edit-meeting .input-date .weekly .week-day,
.main-user-page .edit-meeting .input-date .monthly .month-day,
.main-user-page .edit-meeting .input-date .monthly .last-day{
    color: gray;
    text-align: center;
}

.main-user-page .edit-meeting .input-date .monthly .month-day,
.main-user-page .edit-meeting .once .calendar .calendar-days button{
    display: inline-block;
    width: 30px;
    margin-right: 5px;
    margin-top: 5px;
    color: gray;
}

.main-user-page .edit-meeting .input-date .monthly .last-day{
    display: inline-block;
    width: 70px;
    margin-right: 5px;
    margin-top: 10px;
}
.main-user-page .edit-meeting .input-date .weekly .week-day,
.main-user-page .edit-meeting .input-date .monthly .month-day,
.main-user-page .edit-meeting .input-date .monthly .last-day,
.main-user-page .edit-meeting .once .calendar .calendar-days button{
    border: 2px solid gray;
}

.main-user-page .edit-meeting .once .calendar .calendar-days .true{
    color: white;
    background-color: #1DA1F2;
    border-color: #1DA1F2;
}
.main-user-page .Weekly .input-date .weekly .true,
.main-user-page .Weekly .input-date .monthly .true{
    color: white;
    background-color: #66CC00;
    border-color: #66CC00;
}
.main-user-page .Once .input-date .weekly .true,
.main-user-page .Once .input-date .monthly .true{
    color: white;
    background-color: #FF0000;
    border-color: #FF0000;
}
.main-user-page .Daily .input-date .weekly .true,
.main-user-page .Daily .input-date .monthly .true{
    color: white;
    background-color: #00CCCC;
    border-color: #00CCCC;
}.main-user-page .Monthly .input-date .weekly .true,
.main-user-page .Monthly .input-date .monthly .true{
    color: white;
    background-color: #CCCC00;
    border-color: #CCCC00;
}.main-user-page .Yearly .input-date .weekly .true,
.main-user-page .Yearly .input-date .monthly .true{
    color: white;
    background-color: #FF8000;
    border-color: #FF8000;
} 
.main-user-page .add-new .active .input-date .weekly .true,
.main-user-page .add-new .active .input-date .monthly .true{
    color: white;
    background-color: #1DA1F2;
    border-color: #1DA1F2;
} 
.main-user-page .add-new .not-in .input-date .weekly .true,
.main-user-page .add-new .in .input-date .weekly .true{
    color: white;
    background-color: #E0E0E0;
    border-color: #E0E0E0;
}
.main-user-page .edit-meeting .input-date .weekly .false:hover,
.main-user-page .edit-meeting .input-date .monthly .false:hover,
.main-user-page .edit-meeting .once .calendar .calendar-days .false:hover{
    cursor: pointer;
    color: white;
    background-color: gray;
}

.main-user-page .weekly .true:hover,
.main-user-page .monthly .true:hover{
    cursor: pointer;
    background-color: white;
}
.main-user-page .Weekly .input-date .weekly .true:hover,
.main-user-page .Weekly .input-date .monthly .true:hover{
    color: #66CC00;
    background-color: white;
}
.main-user-page .Once .input-date .weekly .true:hover,
.main-user-page .Once .input-date .monthly .true:hover{
    color: #FF0000;
    background-color: white;
}
.main-user-page .Daily .input-date .weekly .true:hover,
.main-user-page .Daily .input-date .monthly .true:hover{
    color: #00CCCC;
    background-color: white;
}
.main-user-page .Monthly .input-date .weekly .true:hover,
.main-user-page .Monthly .input-date .monthly .true:hover{
    color: #CCCC00;
    background-color: white;
}
.main-user-page .Yearly .input-date .weekly .true:hover,
.main-user-page .Yearly .input-date .monthly .true:hover{
    color: #1DA1F2;
    background-color: white;
}
.main-user-page .add-new .active .input-date .weekly .true:hover,
.main-user-page .add-new .active .input-date .monthly .true:hover{
    color: #1DA1F2;
    background-color: white;
}

.main-user-page .edit-meeting .yearly .dropdown{
    display: inline-block;
    width: 40%;
}

.main-user-page .edit-meeting .yearly .yearly-month-input button,
.main-user-page .edit-meeting .yearly .yearly-day-input button{
    display: inline-block;
    width: 100%;
}

.main-user-page .edit-meeting .yearly .dropdown-menu{
    width: 250%;
}

.main-user-page .edit-meeting .yearly .yearly-day-input .dropdown-menu{
    margin-right: calc(-50% + 15px);
    margin-top: 5px;
}
.main-user-page .edit-meeting .yearly .yearly-month-input .dropdown-menu{
    margin-right: calc(-150% + 15px);
    margin-top: 5px;
}

.main-user-page .edit-meeting .yearly .yearly-day-input .dropdown-menu button{
    display: inline-block;
    width: 35px;
    text-align: center;
    background: none;
    border: none;
}

.main-user-page .edit-meeting .yearly .yearly-month-input .dropdown-menu button{
    display: inline-block;
    width: 45px;
    text-align: center;
    background: none;
    border: none;
}

.main-user-page .edit-meeting .yearly .yearly-day-input .dropdown-menu .disabled{
    color: #E0E0E0;
}

.main-user-page .edit-meeting .yearly .yearly-day-input .dropdown-menu .disabled:hover{
    cursor: no-drop;
}

.main-user-page .edit-meeting .yearly .yearly-day-input .dropdown-menu .non-disabled:hover,
.main-user-page .edit-meeting .yearly .yearly-month-input .dropdown-menu button:hover{
    color: #1DA1F2;
}


.main-user-page .edit-meeting .yearly .add{
    display: inline-block;
    width: 17%;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
}

.main-user-page .edit-meeting .yearly .add{
    color: #1DA1F2;
}

.main-user-page .edit-meeting .yearly .add:hover{
    cursor: pointer;
}

.main-user-page .edit-meeting .yearly .selected{
    max-height: 175px;
    overflow-y: auto;
}

.main-user-page .edit-meeting .yearly .selected-day{
    display: inline-block;
    width: 50%;
    margin-top: 10px;
    border-bottom: 1px dotted #1DA1F2;
}

.main-user-page .edit-meeting .yearly .selected-day .month,
.main-user-page .edit-meeting .yearly .selected-day .day{
    display: inline-block;
    width: 40%;
}

.main-user-page .edit-meeting .not-in .yearly .selected-day,
.main-user-page .edit-meeting .in .yearly .selected-day{
    color: #E0E0E0;
    border-bottom: none;
}

.main-user-page .edit-meeting .yearly .selected-day .delete{
    color: red;
}

.main-user-page .edit-meeting .yearly .selected-day .delete:hover{
    cursor: pointer;
}


.main-user-page .empty-title-warning,
.main-user-page .empty-date-warning{
    width: 100%;
    font-weight: normal;
    text-transform: uppercase;
    color: red;
    border: 1px solid red;
    text-align: center;
    padding: 5px 5px 5px 5px;
}

.main-user-page .user-profile img{
    width: 100%;
    max-height: 50%;
}

.main-user-page .user-profile .name{
    display: inline-block;
    width: 100%;
    font-size: 20px;
    height: 40px;
}

.main-user-page .user-profile .email,
.main-user-page .user-profile .phone{
    display: inline-block;
    width: 100%;
    font-size: 16px;
    height: 30px;
    vertical-align: middle;
}

.main-user-page .user-profile span{
    display: inline-block;
    width: 20%;
}

.main-user-page .user-profile .description label{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    height: 36px;
    margin-top: 10px;
}
.main-user-page .edit-meeting .titles .title{
    padding-left: 15px;
    display: table;
    width: 100%;
    height: 35px;
    vertical-align: middle;
}

.main-user-page .Yearly .edit-meeting .titles .title{
    border-bottom: 2px solid #FF8000;
    color: #FF8000;
}
.main-user-page .Monthly .edit-meeting .titles .title{
    border-bottom: 2px solid #CCCC00;
    color: #CCCC00;
}
.main-user-page .Weekly .edit-meeting .titles .title{
    border-bottom: 2px solid #66CC00;
    color: #66CC00;
}
.main-user-page .Daily .edit-meeting .titles .title{
    border-bottom: 2px solid #00CCCC;
    color: #00CCCC;
}
.main-user-page .Once .edit-meeting .titles .title{
    border-bottom: 2px solid #FF0000;
    color: #FF0000;
}
.main-user-page .add-new .active .edit-meeting .titles .title{
    border-bottom: 2px solid #1DA1F2;
    color: #1DA1F2;
}

.main-user-page .edit-meeting .titles .text{
    font-weight: bold;
    text-transform: uppercase;
    display: table-cell;
    width: calc(100% - 25px);
    vertical-align: middle;
}
.main-user-page .edit-meeting .titles .glyphicon{
    display: table-cell;
    width: 25px;
    vertical-align: middle;
}
.main-user-page .edit-meeting .input-type,
.main-user-page .edit-meeting .dropdown{
    display: inline-block;
    width: 100%;
}
.main-user-page .edit-meeting .input-field{
    display: inline-block;
    width: 100%;
    height: 225px;
    padding-top: 10px;
}
.main-user-page .edit-meeting .warning{
    min-height: 40px;
}
.main-user-page .edit-meeting .input-type button{
    margin-top: 25px;
}
.main-user-page .edit-meeting .input-title input,
.main-user-page .edit-meeting .input-type button{
    display: table;
    width: 100%;
}
.main-user-page .edit-meeting .dropdown-menu{
    width: 100%;
    margin-top: 35px;
    margin-right: 10px;
}
.main-user-page .edit-meeting .titles .warning-in-title{
    font-weight: normal;
    border: 1px solid red;
    color: red;
    padding-left: 10px;
    padding-right: 10px;
}
.main-user-page .footer .save{
    text-align: right;
}

.main-user-page .tab-2 textArea{
    display: inline-block;
    width: 100%;
    height: 215px;
}

.main-user-page .edit-meeting .once .selected,
.main-user-page .edit-meeting .once .calendar-head{
    display: inline-block;
    text-align: center;
    width:100%;
}

.main-user-page .edit-meeting .once .calendar button{
    background: none;
    border: none;
}

.main-user-page .edit-meeting .once .calendar .calendar-days button{
    display: inline-block;
    width: 30px;
}

.main-user-page .add-new .not-in{
    background-color: #FAFAFA;
    border: 2px dotted #E0E0E0;
    color: #E0E0E0;
    transition: all .5s linear;
}

.main-user-page .add-new .in{
    border: none;
    color: #E0E0E0;
    background-color: white;
    cursor: pointer;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    border-top: 2px solid #E0E0E0;
    transition: all .5s linear;
}

.main-user-page .add-new .active{
    border-top: 3px solid  #1DA1F2;
    transition: all .5s linear;
}

.main-user-page .add-new .active .footer .save{
    color: black;
}
.main-user-page .add-new .active .footer .save:hover{
    color: #1DA1F2;
}
.nav__menu {
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
}
.nav__menu-item {
    display: inline-block;
    position: relative;
}
.nav__menu-item:hover {
    /*background-color: #ABA9A9;*/
}
.nav__menu-item:hover .nav__submenu {
    display: block;
}


.nav__submenu {
    font-weight: 300;
    text-transform: none;
    /*text-align: center;*/
    display: none;
    position: absolute;
    width: 160px;
    /*background-color: #ABA9A9;*/
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;


}
.nav__submenu-item{
    /*padding-left: 0px;!important;*/
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
    /*color: white;!important;*/
    color: white;

}
.nav__submenu-item:hover {
    border-bottom: none;
    /*background: white;*/
    background-color: #ABA9A9;
    color: white;
    /*text-emphasis-color: white;*/
}
#nav__submenu{ 
    float: left;
    min-width: 100%;
}
#nav__submenu a:hover{
    font-weight: bold;
}