.editMeeting .uib-timepicker{
    padding-top: 50%;
}

.editMeeting .input-group{
    margin-top: 15%;
}

.editMeeting .loadingLogo{
   text-align: center;
}

.editMeeting .top{
    height: 20px;
    margin-top: 100px;
    margin-bottom: 25px;
    text-align: center;
}


.editMeeting .leftPanel{
    margin-left: 0px;
    width: 400px;
    text-align: center;
}

.editMeeting .leftPanel button{
    width: 70%;
    height: 50px;
    background-color: #1da1f2;
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

.editMeeting .leftPanel button:hover{
    background-color: #61BEF7;
}

.editMeeting .midPanel{
    height: 200px;
    width: 400px;
    margin-left: 5px;
}






.editMeeting table{
    table-layout:fixed;
    width: 100%;
}

.editMeeting .activityQueue{
    padding: 1px 1px 1px 1px;
}

.editMeeting .activityQueue tr{
    height: 100px;
    width: 100%;
    text-align: left;
}

.editMeeting .activityQueue tr td{
    padding: 10px 5px 10px 5px;
}

.editMeeting .activityQueue .filler{
    height: 100px;
}

.editMeeting .activityQueue .length{
    width: 25%;
    text-align: center;
}

.editMeeting .activityQueue .title{
    width: 75%;
    font-size: 12px;
    word-wrap:break-word;
    overflow: hidden;
}

.editMeeting .activityQueue .title p{
    font-weight: bold;
    font-size: 16px;
}

.editMeeting .activityQueue .Presentation{
    background-color: #CEF6F5;
}

.editMeeting .activityQueue .Group_Work{
    background-color: #BEF5EA;
}

.editMeeting .activityQueue .Discussion{
    background-color: #BCF5A9;
}

.editMeeting .activityQueue .Break{
    background-color: #F4F79F;
}

.editMeeting .activityQueue .bin{
    background-color: #E0E0E0;
    height: 50px;
}

