.home .top{
    background-image: url("../resources/front-page.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 500px;
    text-align: center;
}

.home .carousel{
    min-height: 650px;
}

.home .top hr{
    width: 400px;
}

.home .demo hr{
    width: 100%;
    border-top: 1px solid #D3D3D3;
}

.home .top h1{
    margin-top: 15%;
    color: white;
    font-size: 62px;
}

.home .top h3{
    color: white;

}

.home .top .btn{
    font-size: 32px;
    color: white;
    background-color: #1da1f2;
    padding: 10px 30px 10px 30px;
    border-style: none;
}

.home .top .btn:hover{
    background-color: #3b88c3;
}

.home .content-text{
    min-height: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.home .content-text .headline{
    margin-bottom: 50px;
}

.home .content-text img{
    width: 64px;
    margin-right: 20px;
}

.home .content-text p{
    font-size: 22px;
}

.home .home-midVideo{
    /*min-height: 600px;*/
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #222;
    text-align: center;
}

.home .home-midVideo .video iframe{
    min-height: 500px;
    width: 100%;
}

.home .demo{
    min-height: 300px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.home .demo .row{
    margin-bottom: 80px;
}

.home .demo .demoImage img{
    width: 100%;
} 

.home .demo .demoDescription p{
    font-size: 22px;
}

@media screen and (max-width: 860px){

    .home .top{
        min-height: 500px;
    }

    .home .top h1{
        margin-top: 100px;
        font-size: 48px;
    }

    .home .top h2{
        font-size: 21px;
    }

    .home .top hr{
        width: 300px;
    }

    .home .content-text{
        min-height: 200px;
        margin-top: 100px;
    }

    .home .content-text .headline{
        margin-bottom: 20px;
    }

    .home .content-text .headline h2{
        font-size: 22px;
    }

    .home .content-text img{
        width: 42px;
        margin-right: 10px;
    }

    .home .content-text p{
        font-size: 18px;
    }
}
