#editMeeting {
    margin-top: 150px;
    height: 800px;
}

#editMeeting .drag{

}

#editMeeting .uib-timepicker{
    padding-top: 50%;
}

#editMeeting .input-group{
    margin-top: 15%;
}

#editMeeting .loadingLogo{
    text-align: center;
}

#editMeeting #leftPanel{
    text-align: center;
    width: 350px;
}

#editMeeting #leftPanel button{
    width: 70%;
    height: 50px;
    background-color: #1da1f2;
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

#editMeeting #leftPanel button:hover{
    background-color: #61BEF7;
}




#editMeeting#editMeeting #midPanel{
    width: 350px;
}

#editMeeting#editMeeting #rightPanel{
    width: 300px;
}











#editMeeting table{
    table-layout:fixed;
    width: 100%;

}

#editMeeting .activityQueue{
    padding: 1px 1px 1px 1px;
}

#editMeeting .activityQueue tr{
    height: 50px;
    width: 100%;
    text-align: left;
}

#editMeeting .activityQueue tr td{
    padding: 10px 5px 10px 5px;
}

#editMeeting .activityQueue .filler{
    height: 100px;
}

#editMeeting .activityQueue .length{
    width: 25%;
    text-align: center;
}

#editMeeting .activityQueue .title{
    width: 75%;
    font-size: 12px;
    word-wrap:break-word;
    overflow: hidden;
}

#editMeeting .activityQueue .title:hover{
    box-shadow: 1px 1px 4px grey;
}

#editMeeting .activityQueue .title p{
    font-weight: bold;
    font-size: 16px;
}

#editMeeting .activityQueue .Presentation{
    background-color: #CEF6F5;
}

#editMeeting .activityQueue .Group_Work{
    background-color: #BEF5EA;
}

#editMeeting .activityQueue .Discussion{
    background-color: #BCF5A9;
}

#editMeeting .activityQueue .Break{
    background-color: #F4F79F;
}

#editMeeting .activityQueue .bin{
    background-color: #E0E0E0;
    height: 80px;
    transition: all .25s ease-in-out;
}

#editMeeting .activityQueue .bin .dragHover{
    height: 110px;
}




#editMeeting table{
    table-layout:fixed;
    width: 100%;
}

#editMeeting .participantTable{
    padding: 1px 1px 1px 1px;
    box-shadow: 3px 3px 4px grey;
}

#editMeeting .participantTable tr{
    height: 50px;
    width: 100%;
    text-align: left;
}

#editMeeting .participantTable tr td{
    padding: 10px 5px 10px 5px;
}

#editMeeting .participantTable .userPic{
    width: 25%;
    text-align: center;
}

#editMeeting .participantTable .userPic img{
    width: 100%;
}

#editMeeting .participantTable .filler{
    height: 100px;
}

#editMeeting .participantTable .userName{
    width: 75%;
    font-size: 16px;
    word-wrap:break-word;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    background-color: #F5F5F5;
}

#editMeeting .participantTable .userName:hover{
    box-shadow: 1px 1px 4px grey;
}

#editMeeting .participantTable .userName p{
    font-weight: bold;
    font-size: 16px;
}