

#editMeeting, #spectateMeeting{
    margin-top: 150px;
    height: 800px;
}

#editMeeting table, #spectateMeeting table{
    table-layout:fixed;
    width: 100%;
}

#editMeeting #spectateMeeting .loadingLogo{
    text-align: center; 
}

#editMeeting .uib-timepicker{
    padding-top: 50%;
}

#editMeeting #top, #spectateMeeting #top{
    text-align: center;
}

#editMeeting #top .status h3, #spectateMeeting #top .status h3{
    color: red;
}

#editMeeting #leftPanel{
    text-align: center;
    width: 350px;
}

#spectateMeeting #leftPanel{
    width: 350px;
}

#editMeeting #leftPanel button{
    width: 70%;
    height: 50px;
    background-color: #1da1f2;
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

#editMeeting #leftPanel button:hover{
    background-color: #61BEF7;
}

#editMeeting #midPanel, #spectateMeeting #midPanel{
    width: 350px;
}

#editMeeting #rightPanel, #spectateMeeting #rightPanel{
    width: 300px;
}








/*      Activity Table       */


.activityQueue{
    padding: 1px 1px 1px 1px;
}

.activityQueue tr{
    height: 50px;
    width: 100%;
    text-align: left;
}

.activityQueue tr td{
    padding: 10px 5px 10px 5px;
}

.activityQueue .filler{
    height: 100px;
}

.activityQueue .length{
    width: 25%;
    text-align: center;
}

.activityQueue .title{
    width: 75%;
    font-size: 12px;
    word-wrap:break-word;
    overflow: hidden;
}

.activityQueue .title:hover{
    box-shadow: 1px 1px 4px grey;
}

.activityQueue .title p{
    font-weight: bold;
    font-size: 16px;
}

.activityQueue .Presentation{
    background-color: #CEF6F5;
}

.activityQueue .Group_Work{
    background-color: #BEF5EA;
}

.activityQueue .Discussion{
    background-color: #BCF5A9;
}

.activityQueue .Break{
    background-color: #F4F79F;
}

.activityQueue .bin{
    background-color: #E0E0E0;
    height: 80px;
    transition: all .25s ease-in-out;
}

.activityQueue .bin .dragHover{
    height: 110px;
}







/*      Participant Table       */

.participantTable{
    padding: 1px 1px 1px 1px;
    box-shadow: 3px 3px 4px grey;
}

.participantTable tr{
    height: 50px;
    width: 100%;
    text-align: left;
}

.participantTable tr td{
    padding: 10px 5px 10px 5px;
}

.participantTable .userPic{
    width: 25%;
    text-align: center;
}

.participantTable .userPic img{
    width: 100%;
}

.participantTable .filler{
    height: 100px;
}

.participantTable .userName{
    width: 75%;
    font-size: 16px;
    word-wrap:break-word;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    background-color: #F5F5F5;
}

.participantTable .userName:hover{
    box-shadow: 1px 1px 4px grey;
}

.participantTable .userName p{
    font-weight: bold;
    font-size: 16px;
}
