/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 8, 2016, 9:38:54 AM
    Author     : Hao
*/
.user-settings ul {
    margin-top: 3vh;
    margin-left: -3vw;
    list-style-type: none;
}

.user-settings li {
    margin-top: 2vh;
    width: 51.5vw;
}

.user-settings .info-list label {
    text-align: left;
    margin-left: 1vw;
    width: 5vw;
}

.user-settings .short-input {
    display: table-cell;
    width: 19vw;
}

.user-settings .long-input {
    display: table-cell;
    width: 44.5vw;
}

.user-settings textArea {
    margin-left: .5vw;
    width: 50.5vw;
    max-width: 50.5vw;
}

.user-settings .btn {
    display: table-cell;
    font-weight: bold;
    width: 6vw;
    height: 6vh;
    border: 2px solid #D9B580;
    border-radius: 3vh;
    background-color: white;
    color: #D9B580;
    transition: all .25s linear;
}

.user-settings .btn:hover {
    background-color: #D9B580;
    color: white;
    transition: all .25s linear;
}

#tempTry {
    /*background-color: #f2f2f2;*/
    /*background-color: #00A000;*/
    font-family: "Arial";
    font-weight: 300;
    font-size: 16px;
    /*color: #555;*/
    color: white;
    padding-top: 150px;
    width: 100%;
    height: 100%;
    min-height: 200px!important;

    /*background-image: url(../img/header-bg.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
    /*background-attachment: fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/

}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #333;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    /*color: #1abc9c;*/
    color: #1da1f2;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

.user-settings hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    /*margin: 1em 0;*/
    padding: 0;
}

.w {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    width: 120%;
}

.col-md-4 {
    padding-left: 0px;
    padding-right: 0px;
}

.col-md-8 {
    padding-left: 0px;
    padding-right: 0px;
}

.nav-tabs {
    border-bottom: 1px solid #dddddd;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    background-color: #ffffff;
    /*border-left: 5px solid #1abc9c;*/
    border-left: 5px solid #1da1f2;
    /*border-left: 5px solid #ABA9A9;*/
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    width: 100%;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.428571429;
    border-bottom: 1px solid #dddddd;
    border-radius: 0 0 0 0;
    width: 100%;
    background-color: #f2f2f2;
}

.tab-content {
    background-color: #ffffff;
    padding-left: 15px;
    padding-top: 20px;
    padding-right: 15px;
}

.tab-content h5 {
    color: #bdc3c7;
    font-weight: 700;
    letter-spacing: 1px;
}

.red i {
    font-size: 12px;
    color: #e74c3c;
}

i {
    vertical-align: middle;
}

#about label {
    /*color: #1abc9c;*/
    /*color: #ABA9A9;*/
    color: #1da1f2;
}

#profile label {
    /*color: #1abc9c;*/
    color: #1da1f2;
    /*color: #ABA9A9;*/
}

#contact label {
    /*color: #1abc9c;*/
    color: #1da1f2;
    /*color: #ABA9A9;*/
}

#meetings {
    text-align: center;
    font-size: 15px;

}

img#originalImage {
    width: auto;
    height:auto;
    max-width: 300px;
    /*max-width:auto;*/
    /*width: auto;*/
}

#preview {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    overflow: hidden;
}

#imghead {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=image);
}

#saveBtn {
    margin-top: 5%;
    margin-left: 80%;
    background-color: #1da1f2;
}
#cardArea{
    min-height: 400px; 
}
#meetings-1{
   margin-top: 40px;
}

