.userPage h1{
    padding-top: 120px;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
}

.userPage img{
    width: 45%;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 640px){
    .userPage img{
        width: 80%;
    }
}












.editMeeting .top{
    margin-top: 100px;
    margin-bottom: 25px;
    text-align: center;
}

.editMeeting .leftPanel{
    float: left;
    margin-left: 20%;
    height: 700px;
    width: 250px;
}

.editMeeting .leftPanel button{
    width: 100%;
    margin-bottom: 25px;
    background-color: #DF0101;
    color: white;
}

.editMeeting .activityQueue{
    border: solid;
    border-width: 1px;
    height: 680px;
}

.editMeeting .activityQueue tr{
    height: 50px;
    text-align: center;
}

.editMeeting .activityQueue .activityLength{
    width: 70px;
}

.editMeeting .activityQueue .activityName{
    width: 180px;
    border: solid;
    border-width: 1px;
    font-size: 14px;
}

.editMeeting .activityQueue .Presentation{
    background-color: #CEF6F5;
    border-color: #81BEF7;
}

.editMeeting .activityQueue .Group_Work{
    background-color: #F5A9BC;
    border-color: #FE2E9A;
}

.editMeeting .activityQueue .Discussion{
    background-color: #BCF5A9;
    border-color: #01DF3A;
}

.editMeeting .activityQueue .Break{
    background-color: #F4FA58;
    border-color: #DF7401;
}

.editMeeting .rightPanel{
    float: left;
    margin-left: 5%;
    height: 700px;
    width: 250px;
}

.editMeeting #overview{
    height: 100px;
    margin-bottom: 25px;
    margin-top: 50px;
}

.editMeeting #overview .subtitle{
    font-weight: bold;
}

.editMeeting #dayView{
    border: solid;
    border-width: 1px;
    height: 500px;
}

