/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 8, 2016, 9:38:54 AM
    Author     : Hao
*/
.user-settings ul{
    margin-top: 3vh;
    margin-left: -3vw;
    list-style-type: none;
}
.user-settings li{
    margin-top: 2vh;
    width: 51.5vw;
}
.user-settings .info-list label{
    text-align: left;
    margin-left: 1vw;
    width: 5vw;
}
.user-settings .short-input{
    display: table-cell;
    width: 19vw;
}

.user-settings .long-input{
    display: table-cell;
    width: 44.5vw;
}

.user-settings textArea{
    margin-left: .5vw;
    width: 50.5vw;
    max-width: 50.5vw;
}

.user-settings .btn{
    display: table-cell;
    font-weight: bold;
    width: 6vw;
    height: 6vh;
    border: 2px solid #D9B580;
    border-radius: 3vh;
    background-color: white;
    color: #D9B580;
    transition: all .25s linear;
}

.user-settings .btn:hover{
    background-color: #D9B580;
    color: white;
    transition: all .25s linear;
}
