.userPage {
    padding-top: 65px;
}

/* user page navbar css*/

#user-nav {
    min-height: 70px;
    background-color: #D9B580;
    border: 1px solid #D9B580;
}

#name-img{
    height: 100%;
    width: 100%;
}

.user-nav .navbar-right{
    padding-right: 20px;
    display: table;
}

.navbar-inverse .navbar-nav > li > a{
    height: 68px;
    display: table-cell;
    font-family: steelfishregular;
    vertical-align: middle;
    color: white;
    font-size: 25px;
    transition: color .25s linear;
}

.navbar-inverse .navbar-nav > li > a:hover,.navbar-inverse .navbar-nav > li > a:focus {
    color: #C08636;
    transition: color .25s linear;
}

.user-nav .navbar-left,.user-nav .navbar-left a{
    max-height: 68px;
    max-width: 100px;
}

.user-nav .navbar-header button{
    background-color: #C08636;
    color: #D9B580;
    border: 2px solid #C08636;
}

.user-nav .navbar-header button:hover,.user-nav .navbar-header button:active,
.user-nav .navbar-header button:focus{
    background-color:  #D9B580;
    color: red;
}
#col-1{
    width:20vw;
}

.userProfile img{
    margin-top: 3vh;
    margin-left: 0.5vw;
    height: 17vw;
    width: 17vw;
    background-color: #E0E0E0;
    border: 2px solid #E0E0E0;
    border-radius: 25px;
}

.user-name{
    width: 15vw;
    margin-left: 1vw;
    margin-top: 3vh;
    font-size: 1.7vw;
    color: gray;
    border-bottom: 2px solid #E0E0E0;
}
.meeting-num, .meeting-label{
    width: 15vw;
    margin-left: 1vw;
    margin-top: 3vh;
}

.meeting-label{
    margin-top: 0px;
    border-bottom: 2px solid #E0E0E0;
}
.meeting-num p{
    color: #3399FF;
    font-size: 2.0vw;
}
.meeting-num div, .meeting-label div{
    width: 5vw;
    text-align: center;
}
.user-info div{
    text-align: center;
}
.meeting-label p{
    color: gray;
    font-size: 1vw;
}

.main-user-page .display-box{
    margin-top: 3vh;
    width:40vw;
}

.main-user-page .blocktitle{
    display: table;
    width:40vw;
    background-color: #D9B580;
    height: 6vh;
    border: 1px solid #E0E0E0;
    /*another alternative color is #C08636 and #E0E0E0*/
}

.main-user-page .title-1,.main-user-page .title-2{
    width:20vw;
    display: table-cell;
    vertical-align: middle;
    color: white;
}

.main-user-page .title-1{
    padding-left: 1vw;
    font-weight: bold;
}

.main-user-page .title-2{
    text-align: right;
    padding-right: 1vw;
}

.main-user-page .blocktitle a{
    color: white;
    transition: all .25s linear;
}

.main-user-page .blocktitle a:hover{
    color: #C08636;
    text-decoration: none;
    font-weight: bold;
    transition: all .25s linear;
}

.detail-info,.meeting-info{
    background-color: white;
    width: 40vw;
    border: 1px solid #E0E0E0;
}

.detail-info .col-md-1, .detail-info col-md-1 li{
    width: 20vw;
}

.detail-info .col-md-1 ul{
    margin-top: 2vh;
    list-style-type: none;
}

.detail-info .col-md-1 li{
    margin-top: 0.25vh;
    margin-bottom: 0.25vh;
}
.detail-info .col-md-1 label, .detail-info .row-2 label{
    width: 6vw;
    white-space: nowrap;
}

.main-content .footer{
    padding-right: 1vw;
    padding-top: 1vh;
    text-align: right;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-bottom: 2vh;
    margin-top: 2vh;
    border-top: 2px solid #E0E0E0;
}

.main-content .footer a{
    color: #D9B580;
}

.main-content .footer img{
    width: 0.9vw;
    vertical-align: middle;
}
.main-content .footer a:hover{
    color: #C08636;
    text-decoration: none;
    cursor: pointer;
}

.main-content .footer .view-more-img{
    margin-left: 0.25vw;
    content: url("../resources/addmore.png");
}

.main-content .footer a:hover  .view-more-img{
    content: url("../resources/addmorehover.png");
}
.detail-info .row-2 ul{
    list-style-type: none;
}

.detail-info .col-md-2{
    width: 40vw;
}

.detail-info .description-box{
    margin-top: .5vw;
    padding-left: .5vw;
    padding-right: .5vw;
    padding-top: .5vw;
    border: 1px solid #E0E0E0;
}

.main-user-page .meeting-info .meeting-list{
    padding-top: 1vh;
    list-style-type: none;
}

.main-user-page .meeting-info .meeting-list-item{
    padding: 2vh 1vw 2vh 1vw;
    margin-top: 1vh;
    margin-bottom: 0.5vh;
    margin-right: 2vw;
    border: 1px solid #E0E0E0;
    transition: all .25s linear;
}
.main-user-page .meeting-info .meeting-img,.main-user-page .meeting-info .img-col{
    width: 10vw;
    height: 10vw;
}

.main-user-page .meeting-info .meeting-detail-col{
    margin-left: 1vw;
    width: 25vw;
}

.main-user-page .meeting-detail-col span{
    width: 24vw;
    height: 5vh;
    display: table;
}


.main-user-page .meeting-detail-col .meeting-title{
    background-color:  #D9B580;
    text-align: center;
}

.main-user-page .meeting-detail-col .meeting-title label{
    display: table-cell;
    vertical-align: middle;
    color: white;
}

.main-user-page .meeting-detail-col ul{
    margin-left: 0vw;
    width: 25vw;
    list-style-type: none;
}
.main-user-page .meeting-detail-col li{
    margin-top: 2vh;
    margin-left: -2vw;
    text-align: left;
}
.main-user-page .meeting-detail-col .info-list label{
    width: 6vw;
    text-align: left;
}
.main-user-page .meeting-info .meeting-member{
     margin-top: 1vh;
     display: table;

}
.main-user-page .meeting-info .meeting-member label{
    display: table-cell;
    width: 6vw;
    height: 5vh;
    vertical-align: middle;
    text-align: center;
    color: white;   
    background-color:  #D9B580;
    border-radius: 2.5vh;
}

.main-user-page .meeting-info .meeting-member a{
    display: table-cell;
    height: 5vh;
    vertical-align: middle;
    padding-left: 1vw;
    color: #D9B580;
    font-weight: bold;
    transition: all .25s linear;
}

.main-user-page .meeting-info .meeting-member a:hover{
    color: #C08636;
    text-decoration: none;
    cursor: pointer;
    transition: all .25s linear;
}

.main-user-page .meeting-list .meeting-list-item:hover{
    cursor: pointer;
    border: 2px solid  #C08636;
    transition: all .25s linear;
}

.main-user-page .col-3,.main-user-page .important-list,.main-user-page .important-list .title{
    width:14.7vw;
    margin-left:0.5vw;
}

.main-user-page .important-list .list-info{
    margin-left:0.5vw;
    width:14.7vw;
    border: 1px solid #E0E0E0;
}


.editMeeting .top{
    margin-top: 100px;
    margin-bottom: 25px;
    text-align: center;
}

.editMeeting .leftPanel{
    float: left;
    margin-left: 20%;
    width: 270px;
}

.editMeeting .leftPanel button{
    width: 100%;
    height: 50px;
    background-color: #ff4d4d;
    color: white;
    font-size: 18px;
    margin-bottom: 5px;
}

.editMeeting .leftPanel .activityQueue{
    border-style: none;
}

.editMeeting .activityQueue{
    border: solid;
    border-width: 1px;
    min-height: 400px;
    padding: 1px 1px 1px 1px;
}

.editMeeting .activityQueue tr{
    height: 50px;
    text-align: center;
    border-bottom: solid;
    border-width: 1px;
}

.editMeeting .activityQueue .activityLength{
    width: 70px;
}

.editMeeting .activityQueue .activityName{
    width: 200px;
    font-size: 16px;
}

.editMeeting .activityQueue .Presentation{
    background-color: #CEF6F5;
}

.editMeeting .activityQueue .Group_Work{
    background-color: #F5A9BC;
}

.editMeeting .activityQueue .Discussion{
    background-color: #BCF5A9;
}

.editMeeting .activityQueue .Break{
    background-color: #F4FA58;
}

.editMeeting .activityQueue .placeHolder{
    font-size: 24px;
    width: 270px;
}

.editMeeting .rightPanel{
    float: left;
    margin-left: 5%;
    height: 200px;
    width: 270px;
}

.editMeeting #overview{
    height: 100px;
    margin-bottom: 25px;
}

.editMeeting #overview .subtitle{
    font-weight: bold;
}

@media screen and (max-width: 980px){


    .editMeeting .leftPanel{
        margin-left: 2%;
    }

    .editMeeting .rightPanel{
        margin-left: 2%;
        height: 100px;
    }
}

