/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 8, 2016, 9:38:54 AM
    Author     : Hao
*/
.user-settings ul{
    margin-top: 15px;
    margin-left: -25px;
    list-style-type: none;
}
.user-settings li{
    margin-top: 15px;
    width: 100%;
}
.user-settings .info-list label{
    text-align: left;
    margin-left: 15px;
    width: 10%;
    min-width: 60x;
}
.user-settings .short-input{
    display: table-cell;
    width: 35%;
}

.user-settings .long-input{
    display: table-cell;
    width: 83%;
}

.user-settings textArea{
    margin-left: 15px;
    width: 93%;
    max-width:  93%;
}

.user-settings .btn{
    margin-left: 35px;
    display: table-cell;
    font-weight: bold;
    width: 100px;
    height: 40px;
    border: 2px solid #D9B580;
    border-radius: 23px;
    background-color: white;
    color: #D9B580;
    transition: all .25s linear;
}

.user-settings .btn:hover{
    background-color: #D9B580;
    color: white;
    transition: all .25s linear;
}

@media screen and (max-width:860px){
    .user-settings .info-list label,.user-settings .info-list .short-input,
    .user-settings .info-list .long-input, .user-settings textArea{
        font-size: 12px;
    }
}

@media screen and (max-width:480px){
    .user-settings .info-list label{
        font-size: 10px;
    }
}