.userPage h1{
    padding-top: 120px;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
}

.userPage img{
    width: 45%;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 640px){
    .userPage img{
        width: 80%;
    }
}