.userPage {
    padding-top: 65px;
}

/* user page navbar css*/

#user-nav {
    min-height: 70px;
    background-color: #D9B580;
    border: 1px solid #D9B580;
}

#name-img{
    height: 100%;
    width: 100%;
}

.user-nav .navbar-right{
    padding-right: 20px;
    display: table;
}

.navbar-inverse .navbar-nav > li > a{
    height: 68px;
    display: table-cell;
    font-family: steelfishregular;
    vertical-align: middle;
    color: white;
    font-size: 25px;
    transition: color .25s linear;
}

.navbar-inverse .navbar-nav > li > a:hover,.navbar-inverse .navbar-nav > li > a:focus {
    color: #C08636;
    transition: color .25s linear;
}

.user-nav .navbar-left,.user-nav .navbar-left a{
    max-height: 68px;
    max-width: 100px;
}

.user-nav .navbar-header button{
    background-color: #C08636;
    color: #D9B580;
    border: 2px solid #C08636;
}

.user-nav .navbar-header button:hover,.user-nav .navbar-header button:active,
.user-nav .navbar-header button:focus{
    background-color:  #D9B580;
}

.user-nav .navbar-toggle .icon-bar >*{
    background-color: white;
}

.userProfile{
    margin-left: -10px;
    margin-top: 10px;
}

.userProfile img{
    width: 100%;
    background-color: #E0E0E0;
    border: 2px solid #E0E0E0;
    border-radius: 25px;
    margin-bottom: 10px;
}

.userProfile .user-name{
    width: 80%;
    margin: auto;
    font-size: 27px;
    color: gray;
    text-align: center;
    border-bottom: 2px solid #E0E0E0;
}
.userProfile .meeting-num, .userProfile .meeting-label{
    margin: auto;
    width: 80%;
    display: table;
}
.userProfile .meeting-num div,.userProfile .meeting-label div{
    display: table-cell;
}

.userProfile .meeting-label{
    margin-top: 0px;
    border-bottom: 2px solid #E0E0E0;
}
.userProfile .meeting-num p{
    color: #3399FF;
    font-size: 30px;
}

.userProfile .meeting-label p{
    color: gray;
    font-size: 17px;
}

.main-user-page{
    margin-bottom: 100px;
}
.main-user-page .user-info div{
    text-align: center;
}

.main-user-page .display-box{
    margin-top: 10px;
    width:100%;
}

.main-user-page .blocktitle{
    display: table;
    width:100%;
    background-color: #D9B580;
    height: 50px;
    border: 1px solid #E0E0E0;
    /*another alternative color is #C08636 and #E0E0E0*/
}

.main-user-page .title-1,.main-user-page .title-2{
    width:50%;
    display: table-cell;
    vertical-align: middle;
    color: white;
}

.main-user-page .title-1{
    padding-left: 10px;
    font-weight: bold;
}

.main-user-page .title-2{
    text-align: right;
    padding-right: 10px;
}

.main-user-page .blocktitle a{
    color: white;
    transition: all .25s linear;
}

.main-user-page .blocktitle a:hover{
    color: #C08636;
    text-decoration: none;
    font-weight: bold;
    transition: all .25s linear;
}

.main-user-page .detail-info,.meeting-info{
    background-color: white;
    width: 100%;
    border: 1px solid #E0E0E0;
}

.main-user-page .detail-info .col-md-1,
.main-user-page .detail-info col-md-1 li{
    width: 50%;
}

.main-user-page .detail-info .col-md-1 ul{
    margin-top: 20px;
    list-style-type: none;
}

.main-user-page .detail-info .col-md-1 li{
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-user-page .detail-info .col-md-1 label,
.main-user-page .detail-info .row-2 label{
    width: 30%;
    white-space: nowrap;
}

.main-content .footer{
    padding-right: 15px;
    padding-top: 10px;
    text-align: right;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-top: 2px solid #E0E0E0;
}

.main-content .footer a{
    color: #D9B580;
}

.main-content .footer a:hover{
    color: #C08636;
    text-decoration: none;
    cursor: pointer;
}

.main-content .footer .view-more-img{
    margin-left: 5px;
    width: 15px;
    content: url("../resources/addmore.png");
}

.main-content .footer a:hover  .view-more-img{
    content: url("../resources/addmorehover.png");
}
.detail-info .row-2 ul{
    list-style-type: none;
}

.detail-info .col-md-2{
    width: 100%;
}

.detail-info .description-box{
    /*
    margin-top: 5px;
    padding-left: .5vw;
    padding-right: .5vw;
    padding-top: .5vw;*/
    border: 1px solid #E0E0E0;
}

.main-user-page .meeting-info .meeting-list{
    padding-top: 15px;
    list-style-type: none;
    margin-left: -20px;
}

.main-user-page .meeting-info .meeting-list-item{
    padding: 10px 10px 10px 10px;
    margin-top: 15px;
    margin-bottom:10px;
    margin-right: 15px;
    border: 1px solid #E0E0E0;
    transition: all .25s linear;
}
.main-user-page .meeting-info .img-col{
    height: 10vw;
}
.main-user-page .meeting-info img{
    width: 100%;
}
.main-user-page .meeting-info .meeting-detail-col{
    margin-left: 5px;
}

.main-user-page .meeting-detail-col span{
    height: 50px;
    width: 100%;
    display: table;
}


.main-user-page .meeting-detail-col .meeting-title{
    background-color:  #D9B580;
    text-align: center;
}

.main-user-page .meeting-detail-col .meeting-title label{
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    color: white;
}

.main-user-page .meeting-detail-col ul{
    width: 100%;
    list-style-type: none;
}
.main-user-page .meeting-detail-col li{
    margin-top: 15px;
    margin-left: -15px;
    text-align: left;
}
.main-user-page .meeting-detail-col .info-list label{
    width: 25%;
    text-align: left;
}
.main-user-page .meeting-info .meeting-member{
     margin-top: 15px;
     display: table;

}
.main-user-page .meeting-info .meeting-member label{
    display: table-cell;
    width: 100px;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    color: white;   
    background-color:  #D9B580;
    border-radius: 25px;
}

.main-user-page .meeting-info .meeting-member a{
    display: table-cell;
    height: 40px;
    vertical-align: middle;
    padding-left: 15px;
    color: #D9B580;
    font-weight: bold;
    transition: all .25s linear;
}

.main-user-page .meeting-info .meeting-member a:hover{
    color: #C08636;
    text-decoration: none;
    cursor: pointer;
    transition: all .25s linear;
}

.main-user-page .meeting-list .meeting-list-item:hover{
    cursor: pointer;
    border: 2px solid  #C08636;
    transition: all .25s linear;
}

.main-user-page .important-list,.main-user-page .important-list .title{
    width:100%;
}

.main-user-page .important-list .list-info{
    width:100%;
    border: 1px solid #E0E0E0;
}


.editMeeting .top{
    margin-top: 100px;
    margin-bottom: 25px;
    text-align: center;
}

.editMeeting .leftPanel{
    float: left;
    margin-left: 20%;
    width: 270px;
}

.editMeeting .leftPanel button{
    width: 100%;
    height: 50px;
    background-color: #ff4d4d;
    color: white;
    font-size: 18px;
    margin-bottom: 5px;
}

.editMeeting .leftPanel .activityQueue{
    border-style: none;
}

.editMeeting .activityQueue{
    border: solid;
    border-width: 1px;
    min-height: 400px;
    padding: 1px 1px 1px 1px;
}

.editMeeting .activityQueue tr{
    height: 50px;
    text-align: center;
    border-bottom: solid;
    border-width: 1px;
}

.editMeeting .activityQueue .activityLength{
    width: 70px;
}

.editMeeting .activityQueue .activityName{
    width: 200px;
    font-size: 16px;
}

.editMeeting .activityQueue .Presentation{
    background-color: #CEF6F5;
}

.editMeeting .activityQueue .Group_Work{
    background-color: #F5A9BC;
}

.editMeeting .activityQueue .Discussion{
    background-color: #BCF5A9;
}

.editMeeting .activityQueue .Break{
    background-color: #F4FA58;
}

.editMeeting .activityQueue .placeHolder{
    font-size: 24px;
    width: 270px;
}

.editMeeting .rightPanel{
    float: left;
    margin-left: 5%;
    height: 200px;
    width: 270px;
}

.editMeeting #overview{
    height: 100px;
    margin-bottom: 25px;
}

.editMeeting #overview .subtitle{
    font-weight: bold;
}

@media screen and (max-width: 980px){


    .editMeeting .leftPanel{
        margin-left: 2%;
    }

    .editMeeting .rightPanel{
        margin-left: 2%;
        height: 100px;
    }
}

