/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 8, 2016, 11:05:07 AM
    Author     : Hao
*/


.user-messages .message-list{
    margin-top: 15px;
}

.user-messages ul{
    list-style-type: none;
}

.user-messages .display-box{
    width: 100%;
}

.user-messages .blocktitle{
    display: table;
    width:100%;
    background-color: #D9B580;
    height: 50px;
    border: 1px solid #E0E0E0;
    /*another alternative color is #C08636 and #E0E0E0*/
}

.user-messages .title-1,.user-messages .title-2{
    width:50%;
    display: table-cell;
    vertical-align: middle;
    color: white;
}

.user-messages .title-1{
    padding-left: 15px;
}

.user-messages .title-2{
    text-align: right;
    padding-right: 15px;
}

.user-messages .blocktitle a{
    color: white;
    transition: all .25s linear;
}

.user-messages .blocktitle a:hover{
    color: #C08636;
    text-decoration: none;
    font-weight: bold;
    transition: all .25s linear;
}

.user-messages .title-1 strong{
    font-size: 23px;
}

.user-messages .list-info{
    width: 100%;
    padding: 15px 15px 15px 15px;
    border: 1px solid #E0E0E0;
}