<div class="main-user-page">
    <div ng-include src="'layout/navbar.html'" ng-controller="AuthenticationCtrl" ></div>
    <div class="container userPage">
        <div class="row meeting-list">
            <div class="item col-md-4 col-xs-12" ng-repeat="meeting in meetingList track by $index" ng-model="meetingList"
                 ng-animate="'animate'" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" 
                 jqyoui-draggable="{index:{{$index}},animate:true, insertInline: true}"
                 data-drop="true" jqyoui-droppable="{index: {{$index}}}">
                <div class="meeting-box" ng-class="meeting.Info.Type">
                    <div class="meeting-detail-col">
                        <div class="info-list" >
                            <div class="collapse description animate-show" ng-attr-id="{{ 'view-more-description' + $index}}" 
                                 ng-show="meeting.Viewmore" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                                <label>Remarks</label>
                                <p>{{meeting.Info.Remark}}</p>
                            </div>
                            <div class="detail" ng-hide="meeting.Viewmore">
                                <div class="tag-row">
                                    <div class="tags">
                                        <div class="important-mark glyphicon glyphicon-star" ng-click="reverseImportantTag($index)" ng-class="meeting.Importanttag">
                                        </div>
                                        <span class="type">{{meeting.Info.Type}}</span></div>
                                    <div class="dropdown">
                                        <button class="setting-btn dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#/editMeeting/{{meeting.Oldindex}}" target="view_window">
                                                    <span class="glyphicon glyphicon-pencil"></span>Manage
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="deleteFromList($index)">
                                                    <span class="glyphicon glyphicon-trash"></span>Delete
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="reverseImportantTag($index)" >
                                                    <span class="glyphicon glyphicon-star"></span><span ng-show="!meeting.Info.Important">Mark</span><span ng-show="meeting.Info.Important">Unmark</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="title">
                                    <span class="meeting-title"><label>{{meeting.Info.Title}}</label></span>
                                </div>

                                <div class="info"><label>Date</label>{{meeting.Info.Date}}</div>
                                <div class="info"><label>Time</label>{{meeting.Info.Time}}</div>
                                <div class="member">
                                    <span class="meeting-member">
                                        <label>Members</label>
                                        <a ng-repeat="member in meeting.Info.Members" ng-click="open(meeting)">{{member}}</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="footer" >
                            <a data-toggle="collapse" data-target="#{{ 'view-more-description' + $index}}" ng-click="reverseViewMore($index)">
                                <div ng-hide="meeting.Viewmore" >
                                    View Description <span class="glyphicon glyphicon-chevron-down"></span>
                                </div>
                                <div ng-show="meeting.Viewmore">
                                    Close All <span class="glyphicon glyphicon-chevron-up"></span>
                                </div>
                            </a>
                            <span class="mark glyphicon glyphicon-tag" ng-show="meeting.Info.Important"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add-new col-md-4 col-xs-12">
                <div class="meeting-box" ng-mouseenter="setMouseInAddMore(1)" ng-class="addMoreState"
                     ng-mouseleave="setMouseInAddMore(0)" ng-click="setMouseInAddMore(2)">
                    <div class="info">                  
                        <div class="title">
                            <label>Add a New Meeting</label>
                        </div>
                        <div class="input-title">
                            <label>Meeting Title</label>
                            <input ng-disabled="!addMoreAbled" class="form-control" type="text"/>
                        </div>
                        <div class="input-type">
                            <label>Type</label>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu-type" 
                                        data-toggle="dropdown" aria-haspopup="true" ng-disabled="!addMoreAbled">
                                    <span class="text">{{typeChoice}}</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu drop-menu-type" aria-labelledby="dropdownMenu-type">
                                    <li><a ng-repeat="type in typeList" ng-click="setTypeChoice(type)">{{type}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="input-date">
                            <div class="once" ng-show="typeChoice === 'Once'">
                                <label>Date</label>
                                <p class="input-group">
                                    <input ng-disabled="!addMoreAbled" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" 
                                           close-text="Close" alt-input-formats="altInputFormats" /><a class=" glyphicon glyphicon-calendar" ng-click="open1()" ng-disabled="!addMoreAbled"></a>
                                </p>
                            </div>
                            <div class="weekly" ng-show="typeChoice === 'Weekly'">
                                <label>Days In a Week</label>
                                <a class="week-day" ng-repeat="day in week track by $index" ng-class="day.Selected == true && 'true' || 'false'" 
                                   ng-click="reverseWeekSelection($index)">{{day.Day}} <span class="glyphicon glyphicon-ok"></span></a>
                            </div>
                            <div class="monthly" ng-show="typeChoice==='Monthly'">
                                <label>Days In a Month</label>
                                <a class="month-day" ng-repeat="day in month track by $index" ng-class="day.Selected == true && 'true' || 'false'" 
                                   ng-click="reverseMonthSelection($index)">{{day.Day}}</a>
                                <a class="last-day" ng-class="lastdaySelected == true && 'true' || 'false'" 
                                   ng-click="reverseLastdaySelection($index)">Last Day</a>
                            </div>
                            <div class="yearly" ng-show="typeChoice === 'Yearly'">
                                <label>Days In a Year</label>
                                <div class="selected">
                                    <div class="selected-day" ng-repeat="day in yearlySelectedDayList track by $index">
                                        <span class="month">{{day.Month}}</span><span class="day">{{day.Day}}</span><span class="delete glyphicon glyphicon-minus-sign" ng-click="deleteDay($index)"></span>
                                    </div>
                                </div>
                                <div class="add-input">
                                    <div class="dropdown yearly-month-input">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu-month" 
                                                data-toggle="dropdown" aria-haspopup="true" ng-disabled="!addMoreAbled">
                                            <span class="text">{{monthChoice}}</span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu drop-menu-month" aria-labelledby="dropdownMenu-month">
                                            <li><a ng-repeat="month in monthList" ng-click="setMonthChoice(month)">{{month}}</a></li>
                                        </ul>
                                    </div>
                                    <div class="dropdown yearly-day-input">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu-day" 
                                                data-toggle="dropdown" aria-haspopup="true" ng-disabled="!addMoreAbled">
                                            <span class="text">{{dayChoice}}</span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu drop-menu-day" aria-labelledby="dropdownMenu-day">
                                            <li><a ng-repeat="day in dayList" ng-click="setDayChoice(day)">{{day}}</a></li>
                                        </ul>
                                    </div>
                                    <a class="add" ng-click="addDay()"><span class="glyphicon glyphicon-plus-sign"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <button class="btn btn-default" ng-disabled="!addMoreAbled">CREATE NEW MEETING</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
