<div ng-include src="'views/navbar.html'" ng-controller="AuthenticationCtrl" ></div>
<div class="editMeeting">
    <section class="top">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </section >
    <section class="main">
        <div class="container">
            <div class="row">
                <div class="leftPanel .col-xs-6 .col-sm-6">
                    <button type="button" class="btn btn-default" ng-click="addActivity()">+ Add activity</button>
                    <div class="activityQueue">
                        <table>
                            <tr id="-1" ng-repeat="activity in getPendingActivities()">
                                <td class="activityLength .col-xs-6 .col-md-4">{{activity.getLength()}} min</td>
                                <td draggable id="{{$index}}" class="activityName {{getActivityType(activity.getTypeId())}} .col-xs-12 .col-sm-6 .col-md-8" droppable drop="moveActivity">{{activity.getName()}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="rightPanel .col-xs-6 .col-sm-6">
                    <table id="overview">
                        <tr>
                            <td class="subtitle">Start time</td>
                            <td><input type=time value="08:00" ng-model="startTime" ng-change="setStart(startTime)"/></td>
                        </tr>
                        <tr>
                            <td class="subtitle">End time</td>
                            <td>{{endTime}}</td>
                        </tr>
                        <tr>
                            <td class="subtitle">Total length:</td>
                            <td> &nbsp {{dayLength}} min</td>
                        </tr>
                    </table>
                    <div class="activityQueue">
                        <table>
                            <tr id="{{id}}" ng-repeat="activity in getActivities()">
                                <td class="activityLength .col-xs-6 .col-md-4">{{getActivityStart($index)}}</td>
                                <td draggable id="{{$index}}" class="activityName {{getActivityType(activity.getTypeId())}} bin .col-xs-12 .col-sm-6 .col-md-8" droppable drop="moveActivity">{{activity.getName()}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section >







    <section class="bot">
    </section >
</div>
