<div ng-include src="'views/navbar.html'" ng-controller="AuthenticationCtrl" ></div>
<div class="editMeeting">
    <section class="top container">
        <div class="row optionBar">
            <div class="col-xs-6 col-sm-4 col-md-3">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="col-xs-6 col-md-2">From {{startTime}} ~ {{endTime}}</div>
        </div>
    </section >
    <section class="main container">
        <div class="row">
            <div class="leftPanel col-xs-6 col-sm-4">
                <div class="activityQueue">
                    <button type="button" class="btn btn-default" ng-click="addActivity()">+ Add activity</button>
                    <table>
                        <tr class="pendingActivity" ng-repeat="activity in getPendingActivities()">
                            <td class="length .col-md-4">{{activity.getLength()}} min</td>
                            <td class="name {{getActivityType(activity.getTypeId())}} .col-md-8" draggable droppable drop="moveActivity" index="$index">{{activity.getName()}}</td>
                        </tr>
                        <tr class="pendingActivity" ng-show="getPendingActivities().length == 0">
                            <td class="length .col-md-4"></td>
                            <td class="name .col-md-8" droppable drop="moveActivity" index="$index"></td>
                        </tr>
                        <tr id="bin" droppable drop="deleteActivity">
                            <td class="length .col-md-4"><span class="glyphicon glyphicon-trash"></span></td>
                            <td class="name .col-md-8"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="midPanel col-xs-6 col-sm-4">
                <div class="activityQueue">
                    <table>
                        <tr  class="addedActivity" ng-repeat="activity in activities">
                            <td class="length .col-md-4">{{activities_startTime[$index]}}</td>
                            <td id="{{$index}}" class="bin name {{getActivityType(activity.typeid)}} .col-md-8" draggable droppable drop="moveActivity" index="$index">{{activity.name}}</td>
                        </tr>
                        <tr id="{{id}}" ng-show="activities.length == 0">
                            <td class="length .col-md-4">{{activities_startTime[$index]}}</td>
                            <td id="{{$index}}" class="bin name placeHolder .col-md-8" droppable drop="moveActivity" index="$index"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section >







    <section class="bot">
    </section >
</div>
