<div class="container-fluid text-center" id="nav-footer">
    <hr class="divider">
    <br>
    <div class="row">
        <div class="col-sm-4">
            <h4>Project</h4>
            <a href="https://www.kth.se/social/course/DH2642/" target="_blank">Description about project</a>
        </div>
        <div class="col-sm-4">
            <h4>Top</h4>
            <a href="javascript:scroll(0,0)" id="footer-logo">
                Go to top
            </a>
        </div>
        <div class="col-sm-4">
            <h4>Blog</h4>
            <a href="https://www.facebook.com/hikari.watanabe.393" target="_blank">Facebook</a>
        </div>
    </div>
</div>