<div class="container-fluid text-center" id="nav-footer">
    <!--<h2>ABOUT</h2>-->
    <!--<h4>What we did</h4>-->
    <br>
    <div class="row">
        <div class="col-sm-4">
            <h4>Home</h4>
            <a href="#home.html">Back to the home page</a>
        </div>
        <div class="col-sm-4">
            <h4>Project</h4>
            <a href="https://www.kth.se/social/course/DH2642/" target="_blank">Description about project</a>
        </div>
        <div class="col-sm-4">
            <h4>Contact us</h4>
            <a href="mailto:someone@kth.se?Subject=Hello&body=Hi,Welcome to visit Group 25!">Email</a>
        </div>
        <!--</div>-->
        <!--<br>-->
        <!--<br>-->
        <!--<div class="row">-->
        <div class="col-sm-4">
            <h4>Blog</h4>
            <a href="https://www.facebook.com/hikari.watanabe.393" target="_blank">Facebook</a>
        </div>
        <div class="col-sm-4">
            <h4>Top</h4>
            <a href="javascript:scroll(0,0)" id="footer-logo">
                <!--<img src="resources/coffeecup-go-top.png" alt="Back_Top">-->
                Go to top
            </a>
        </div>
        <div class="col-sm-4">
            <h4>Our group</h4>
            <a href="https://bilda.kth.se/courseId/13527/projectGroupsLaunch.do?id=916887" target="_blank">Web Design By Group 25</a>
        </div>
    </div>
</div>