<div class="meeting-modal">
    <div class="modal-header">
        <h3 class="modal-title">{{meeting.Title}}</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li>
                <span class="info-list-item">
                    <label>Date</label>
                    <button ng-show="isEdit" type="button" class="btn btn-default" ng-click="open1(meeting.Date)"><i class="glyphicon glyphicon-calendar"></i></button>
                    <input type="text" class="form-control date-input" uib-datepicker-popup="{{format}}" ng-model="dt" 
                    is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" 
                    alt-input-formats="altInputFormats"  ng-readonly="!isEdit" ng-style="shortenDateInput"/>
               </span>
            </li>
            <li>
                <span class="info-list-item">
                    <label>Time</label><input id="modal-time-input" value="{{time}}" class="form-control" type="text" ng-readonly="!isEdit"/>
                </span>
            </li>
            <li>
                <span class="info-list-item">
                    <label>Type</label><input id="modal-type-input" value="{{meeting.Type}}" class="form-control" type="text"  ng-readonly="!isEdit"/>
                </span>
            </li>
            <li>
                <span class="info-list-item">
                    <label>Holder</label><input id="modal-holder-input" value="{{meeting.Holder}}" class="form-control" type="text"  ng-readonly="!isEdit"/>
                </span>
            </li>
            <li>
                <div class="member row">
                <label>Members</label>
                <a ng-repeat="member in meeting.Members">{{member}}</a>
                </div>
            </li>
            <li>
                 <div class="description">
                <label>Remarks</label>
                <textarea id="modal-remark-input" class="form-control" rows="5"  ng-readonly="!isEdit">{{meeting.Remark}}</textarea>
                </div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn"  ng-show="!isEdit" ng-click="onClose()">Close</button>
        <button class="btn"  ng-show="!isEdit" ng-click="onEdit()">Edit</button>
        <button class="btn"  ng-show="isEdit" ng-click="onSave()">Save</button>
        <button class="btn"  ng-show="isEdit" ng-click="onCancel()">Cancel</button>
    </div>    
</div>
