<!-- Navigation bar -->
<!--suppress ALL -->
<div class="main-nav">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="nav navbar-nav navbar-left">
<!--<<<<<<< Updated upstream-->
                <li><a href="#/home"><img src=""/>Home</a></li>
<!--=======-->
                <!--<li><a href="#/home"><img src="resources/logo.png" />Home</a></li>-->
<!--&gt;>>>>>> Stashed changes-->
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navBar">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-hide="authentication" href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li class="nav__menu-item"><a ng-show="authentication"  href="#/userpage">{{authentication.password.email}}</a>
                    <ul class="nav__submenu">
                        <li class="nav__submenu-item" id="tempHide"> <a href="#/userpage">My page</a></li>
                        <li class="nav__submenu-item" id="tempHide"> <a href="#/userpage/settings">Settings</a></li>
                        <li class="nav__submenu-item" id="tempHide"> <a href="#/userpage/messages">Message</a></li>
                        <li class="nav__submenu-item" id="tempHide"><a href="#/userpage/history">History</a></li>
                    </ul>
                </li>
                <li><a ng-show="authentication" ng-click="logout()" href="#/home"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
            </ul>
        </div>
    </div>
</nav>
</div>
