<!DOCTYPE>
<html>
<head>
    <title>Google Map-Show your location</title>
    <script type="text/javascript" src="../app/js/searchMapAPI.js"></script>
    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB3cV_kZHpHPXCSaCvM0iPcUj9tnPLSqmA&sensor=false"></script>
</head>
<body onload="initialize()" >
<div position="center" align="center">
    <div id="map" style="width:60%; height:60%" position="relative"></div>
    <div class="container" align="center">
        <p class="h2">Type the meeting location:<input id="address" type="text" size="50" value="" placeholder="ex.Stockholm or Paris"> <input type="button" value="Show the location" onClick="codeAddress()">
        </p>
    </div>
    <div class="container" align="center">
        <p class="h2">Or type the Lag and Lng:</p>
        Lat:<input id="lat" type="text" value="" placeholder="ex. 59.3476">
        Lng:<input id="lng" type="text" value="" placeholder="ex. 18.0726"><input type="button" value="Find the real address" onClick="getAddress()"> <br>
        <br/>
        The real location: <input id="address1" type="text" size="50" value="">
    </div>
    <br/>
    <br/>
    <div class="btn" align="center">
        <a><input type="button" value="Close" onclick="window.close()"></a>
    </div>
</div>
</body>
</html>