<div id="preview">
    <img id="imghead" width=100 height=100 border=0 src={{currentInfo._profilePic}}>
</div>

<div class="container">
    <h2>Please paste the new profile img link to this place:</h2>
    <input id="profilelink" type="text" size="50" value="" placeholder="200*200 png would be great!" ng-model="newProfilePic">
</div>
<br>
<div class="btn">
    <input type="button" ng-click="upLoadProfileImg()" value="Submit">
</div>
<div class="btn">
    <input type="button" onclick="window.close()" value="Close">
</div>