<div class="main-user-page">
    <div ng-include src="'views/navbar.html'" ng-controller="AuthenticationCtrl" ></div>
    <div ng-include src="'views/userpageNavbar.html'"  ng-controller="AuthenticationCtrl"></div>

    <div class="container">
        <div class="row meeting-list">
            <div class="item col-md-4 col-xs-12" ng-dblclick="open(meeting)" ng-repeat="meeting in meetingList">
                <div class="meeting-box" ng-class="meeting.Info.Type">
                    <div class="meeting-detail-col">
                        <div class="title">
                            <span class="meeting-title"><label>{{meeting.Info.Title}}</label></span>
                            <div class="setting-btn"><span class="glyphicon glyphicon-cog"></span></div>
                        </div>
                        <div class="type">{{meeting.Info.Type}}</div>
                        <div class="info"><label>Date</label>{{meeting.Info.Date}}</div>
                        <div class="info"><label>Time</label>{{meeting.Info.Time}}</div>
                        <div class="member">
                            <span class="meeting-member">
                                <label>Members</label>
                                <a ng-repeat="member in meeting.Info.Members">{{member}}</a>
                            </span>
                        </div>
                        <div class="description animate-show" ng-show="viewMore[meeting.Index]" ng-animate="'animate'">
                            <label>Remarks</label>
                            <p>{{meeting.Info.Remark}}</p>
                        </div>
                        <div class="footer">
                            <a >
                                <div ng-hide="viewMore[meeting.Index]" ng-click="setViewMore(meeting.Index, true)">
                                    View Description <span class="glyphicon glyphicon-chevron-down"></span>
                                </div>
                                <div ng-show="viewMore[meeting.Index]" ng-click="setViewMore(meeting.Index, false)">
                                    Close All <span class="glyphicon glyphicon-chevron-up"></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add-new col-md-4 col-xs-12">
                <div class="meeting-box">
                    <div class="info">                  
                        <div class="title">
                            <label>Add a New Meeting</label>
                        </div>
                    </div>
                    <div class="footer">
                        <button class="btn btn-default">CREATE NEW MEETING</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
