<div class="userProfile">
    <div class="container">
        <div class="row">
            <div class="user-info" >
                <img  src="./resources/userIcon-m.png" />
                <p class="user-name">{{authentication.password.email}}</p>
                <div class="row meeting-num">
                    <div class="col-xs-1"><p>0</p></div>
                    <div class="col-xs-1"><p>0</p></div>
                    <div class="col-xs-1"><p>0</p></div>
                </div>
                <div class="row meeting-label">
                    <div class="col-xs-1"><p>Passed</p></div>
                    <div class="col-xs-1"><p>Recent</p></div>
                    <div class="col-xs-1"><p>Coming</p></div>
                </div>
             </div>
        </div>
    </div>
</div>
