<!--<div ng-include src="'views/navbar.html'" ng-controller="AuthenticationCtrl" ></div>-->
<!--<div ng-include src="'views/userpageNavbar.html'"  ng-controller="AuthenticationCtrl"></div>-->
<!--<div class="container user-settings">-->
<!--<div class="row">-->
<!--<div id="col-1" class="col-md-1">-->
<!--<div ng-include="'views/userprofile.html'"  ng-controller="AuthenticationCtrl"></div>-->
<!--</div>-->
<!--<div class="col-md-8">-->
<!--<ul class="info-list">-->
<!--<li>-->
<!--<label>First Name</label>-->
<!--<input ng-value="userInfo.Firstname" class="form-control short-input" type="text"/>-->
<!--<label>Last Name</label>-->
<!--<input ng-value="userInfo.Lastname" class="form-control short-input" type="text"/>-->
<!--</li>-->
<!--<li>-->
<!--<label>E-mail</label>-->
<!--<input ng-value="userInfo.Email" class="form-control short-input" type="text"/>-->
<!--<label>Phone No.</label>-->
<!--<input ng-value="userInfo.Phoneno" class="form-control short-input" type="text"/>-->
<!--</li>-->
<!--<li>-->
<!--<label>Gender</label>-->
<!--<input ng-value="userInfo.Gender" class="form-control short-input" type="text"/>-->
<!--<label>Birthday</label>-->
<!--<input ng-value="userInfo.Birthday" class="form-control short-input" type="text"/>-->
<!--</li>-->
<!--<li>-->
<!--<label>Company</label>-->
<!--<input ng-value="userInfo.Company" class="form-control short-input" type="text"/>-->
<!--<label>Position</label>-->
<!--<input ng-value="userInfo.Position" class="form-control short-input" type="text"/>-->
<!--</li>-->
<!--<li>-->
<!--<label>Address</label>-->
<!--<input ng-value="userInfo.Address" class="form-control long-input" type="text"/>-->
<!--</li>-->
<!--<li>-->
<!--<label>Description</label>-->
<!--<Textarea  class="form-control" rows="5">{{userInfo.Description}}</Textarea>-->
<!--</li>-->
<!--</ul>-->
<!--<div class="footer">-->
<!--<a class="btn">Save</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--suppress ALL -->
<div ng-include src="'views/navbar.html'" ng-controller="AuthenticationCtrl"></div>

<div class="container" id="tempTry">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="row w">
            <div class="col-md-4">
                <a onclick="uploadImg()" target="_blank"><img class="img-responsive"  src="http://d310a9hpolx59w.cloudfront.net/stores/avatars/33569/medium/logo.png?1337481625" alt="profile img" id="imghead"></a>
                <ul class="nav nav-tabs nav-stacked" id="myTab">
                    <li class="active"><a href="#about">Personal Info</a></li>
                    <li><a href="#profile">Work Experience</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#meetings">My meetings</a></li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="tab-content">
                    <!--First tab by Jian-->
                    <div class="tab-pane active" id="about">
                        <label>First Name</label>
                        <input ng-value="userInfo.Firstname" class="form-control short-input" type="text"/>
                        <label>Last Name</label>
                        <input ng-value="userInfo.Lastname" class="form-control short-input" type="text"/>
                        <label>Gender</label>
                        <input ng-value="userInfo.Gender" class="form-control short-input" type="text"/>
                        <label>Birthday</label>
                        <input ng-value="userInfo.Birthday" class="form-control short-input" type="text"/>
                        <label>Address</label>
                        <a><input ng-value="userInfo.Address" class="form-control long-input" type="text"/></a>
                    </div>
                    <!--Second tab-->
                    <div class="tab-pane" id="profile">
                        <label> Work experience </label>
                        <label>Company</label>
                        <input ng-value="userInfo.Company" class="form-control short-input" type="text"/>
                        <label>Position</label>
                        <input ng-value="userInfo.Position" class="form-control short-input" type="text"/>
                        <label>Description</label>
                        <Textarea class="form-control" rows="5">{{userInfo.Description}}</Textarea>
                    </div>
                    <!--Third tab-->
                    <div class="tab-pane" id="contact">
                        <label>Contact Information</label>
                        <hr>
                        <label>E-mail:</label>
                        <input ng-value="userInfo.Email" class="form-control short-input" type="text"/>
                        <label>Phone No.</label>
                        <input ng-value="userInfo.Phoneno" class="form-control short-input" type="text"/>
                    </div>
                    <!--Fourth tab-->
                    <div class="tab-pane" id="meetings">
                        <a href="#/userpage">Go to review my meetings</a>
                    </div>
                </div>
                <script type="text/javascript">
                            $('#myTab a').click(function (e) {
                                e.preventDefault()
                                $(this).tab('show')
                            })
                </script>
            </div>
        </div>
    </div>
</div>
<a href="/MeetingPlanner/app/views/restAPI.html">XXXXXXXXXX</a>
<div ng-include src="'views/footer.html'"></div>

