<div class="userPage">
    <div class="container">
        <div id="user-nav" class="user-nav">
            <div class="row">
                <a class="home-link" href="#/home">
                    <img id="logo-img" src="resources/logo-with-color.png" /> 
                    <img id="name-img" src="resources/name.jpg"/>
                </a>
                    <a id="my-page-btn" class="btn btn-default" href="#/userpage">My Page</a>
                    
                    <a id="my-page-setting" href="#/userpage/settings">Settings</a><img class="sicon" src="resources/settingIcon-s.png"/>
                    
                    <a id="my-page-message" href="#/userpage/messages">Messages</a><img class="sicon" src="resources/message-s.png"/>
                    <a id="history-btn" class="btn btn-default" href="#/userpage/history">My History</a>        
            </div>
        </div>
    </div>
</div>