<!--suppress ALL -->
<div ng-include src="'views/navbar.html'" ng-controller="AuthenticationCtrl"></div>
<div class="container" id="tempTry">
    <div class="col-lg-6 col-lg-offset-3" >
        <div class="row w" id="cardArea">
            <div class="col-md-4">
                <a onclick="uploadImg()" target="_blank">
                    <img class="img-responsive" src={{currentInfo._profilePic}} ng-model="newProfilePic" alt="profile img" id="originalImage" href="#/upLoadURL/">
                </a>
                <ul class="nav nav-tabs nav-stacked">
                    <li ng-class="selectedTab === 0 && 'active' || 'non-active'"><a ng-click="setSelectedTab(0)" href="">Personal Info</a></li>
                    <li ng-class="selectedTab === 1 && 'active' || 'non-active'"><a ng-click="setSelectedTab(1)" href="">Contact</a></li>
                    <li ng-class="selectedTab === 2 && 'active' || 'non-active'"><a ng-click="setSelectedTab(2)" href="">My meetings</a></li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="tab-content">
                    <!--First tab by Jian-->
                    <div class="tab-pane active" id="about" ng-show="selectedTab === 0">
                        <label>First Name</label>
                        <input ng-value="currentInfo._firstName" ng-model="newFirstName"
                               class="form-control short-input" type="text"/>
                        <label>Last Name</label>
                        <input ng-value="currentInfo._lastName" ng-model="newLastName" class="form-control short-input" type="text"/>
                        <label>Gender</label>
                        <input ng-value="currentInfo._gender" ng-model="newGender" class="form-control short-input" type="text"/>
                        <label>Birthday</label>
                        <input ng-value="currentInfo._birthday" ng-model="newBirthday" class="form-control short-input" type="text"/>
                        <label>Address</label>
                        <a><input ng-value="currentInfo._address" ng-model="newAddress" class="form-control long-input" type="text"/></a>
                        <input type="button" id="saveBtn" ng-click="saveProfile()" value="Save">
                    </div>
                    <!-- Second tab -->
                    <div class="tab-pane active" id="contact" ng-show="selectedTab === 1">
                        <label>Contact Information</label>
                        <hr>
                        <label>E-mail:</label>
                        <input ng-value="currentInfo._email" ng-model="newEmail" class="form-control short-input" type="text"/>
                        <label>Phone No.</label>
                        <input ng-value="currentInfo._phone" ng-model="newPhone" class="form-control short-input" type="text"/>
                        <input type="button" id="saveBtn" ng-click="saveProfile()" value="Save">
                    </div>
                    <!--Third tab-->
                    <div class="tab-pane active" id="meetings" ng-show="selectedTab === 2">
                        <div id="meetings-1">
                            <a href="#/userpage">Go to review my meetings</a>
                        </div>
                        <br><br/><br><br>
                        <div id="meetings-2">
                            <a href="views/searchMeetingLocation.html" target="_blank">Find the
                                meeting location</a>
                        </div>
                        <br/><br/><br><br>
                        <div id="meetings-3">
                            <a href="views/restAPI.html" target="_blank">Where am I</a>
                        </div>
                        <br/><br/><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="'views/footer.html'"></div>