<div ng-include src="'views/navbar.html'" ng-controller="AuthenticationCtrl" ></div>
<div ng-include src="'views/userpageNavbar.html'"  ng-controller="AuthenticationCtrl"></div>
<div class="container">
    <div class="row row-1 main-user-page">
        <div class="col-1 col-md-3">
            <div ng-include="'views/userprofile.html'"  ng-controller="AuthenticationCtrl"></div>
        </div>
        <div class="col-md-7 col-xs-12 main-content">
            <div class=" row personal-info display-box">
                <div id="personal-info-title" class="blocktitle title">
                    <span class="title-1">Personal Information</span>
                    <span class="title-2"><a href="#/userpage/settings">Edit</a></span>
                </div>
                <div class="detail-info">
                    <div class="row">
                        <div class="info-list">
                            <ul >
                                <li class="short">
                                    <label>First Name</label><p> {{userInfo.Firstname}}</p>
                                    <label>Last Name</label><p> {{userInfo.Lastname}}</p>
                                </li>
                                <li class="short">
                                    <label>E-mail</label><p> {{userInfo.Email}}</p>
                                    <label>Phone No.</label><p> {{userInfo.Phoneno}}</p>
                                </li>
                                <li class="short" ng-show="personalInfoViewMore">
                                    <label>Gender</label><p> {{userInfo.Gender}}</p>
                                    <label>Birth Day</label><p> {{userInfo.Birthday}}</p>
                                </li >
                                <li class="short" ng-show="personalInfoViewMore">
                                    <label>Company</label><p> {{userInfo.Company}}</p>
                                    <label>Position</label><p> {{userInfo.Position}}</p>
                                </li>
                                <li class="long" ng-show="personalInfoViewMore">
                                        <label>Address</label> {{userInfo.Address}}
                                </li>
                                <li ng-show="personalInfoViewMore">
                                    <label>Description</label>
                                </li>
                                <li class="area" ng-show="personalInfoViewMore">
                                    <div class="description-box">
                                        <p>{{userInfo.Description}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer">
                        <a ng-click="setPersonalInfoViewMore(true)" ng-hide="personalInfoViewMore"> 
                            View More<img class="view-more-img">
                        </a>
                        <a ng-click="setPersonalInfoViewMore(false)" ng-show="personalInfoViewMore">Close Details</a>
                    </div>
                </div>
            </div>
            
            <div class="row my-meetings display-box">
                <div id="meeting-info-title" class="blocktitle title">
                    <span class="title-1">My Meetings</span>
                    <span class="title-2"><a >Edit</a></span>
                </div>
                <div class="meeting-info">
                        <ul class="meeting-list">
                            <li class="meeting-list-item" ng-repeat="meeting in meetingList" data-drag="true" jqyoui-draggable 
                                data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{animate:true}">
                                <div class="meeting-box row" ng-dblclick="open(meeting)" >
                                    <div class="col-md-3 col-xs-3 img-col">
                                        <img class="meeting-img" src="./resources/meeting1.jpg">
                                    </div>
                                    <div class="col-md-8 col-xs-8 meeting-detail-col">
                                        <span class="meeting-title"><label>{{meeting.Title}}</label></span>
                                        <ul class="info-list">
                                            <li><label>Date</label>{{meeting.Date}}</li>
                                            <li><label>Time</label>{{meeting.Time}}</li>
                                            <li><label>Type</label>{{meeting.Type}}</li>
                                        </ul> 
                                    </div>
                                </div>
                                <span class="meeting-member">
                                     <label>Members</label>
                                     <a ng-repeat="member in meeting.Members">{{member}}</a>
                                </span>
                            </li>
                        </ul>
                    <div class="footer">
                        <a ng-click="setMeetingViewMore(true)" ng-hide="meetingViewMore"> 
                            View More<img class="view-more-img">
                        </a>
                        <a ng-click="setMeetingViewMore(false)" ng-show="meetingViewMore">Close Details</a>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="col-3 col-md-2 col-xs-12">
            <div class="row important-list display-box">
                <div id="important-list-title" class="blocktitle title">
                    <span class="title-1">Important Meetings</span>
                    <span class="title-2"><a >Edit</a></span>
                </div>
                <div class="list-info">
                    <p>List</p>
                    <!--
                    <div class="footer">
                        <a ng-click="setPersonalInfoViewMore(true)" ng-hide="personalInfoViewMore"> 
                            View More<img class="view-more-img">
                        </a>
                        <a ng-click="setPersonalInfoViewMore(false)" ng-show="personalInfoViewMore">Close Details</a>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
