<div ng-include src="'views/navbar.html'" ng-controller="AuthenticationCtrl" ></div>
<div class="container user-messages">
    <div class="row">
        <div class="message-list col-md-8">
            <div ng-show="noMessage" class="no-message">
                <h3>No Message Available</h3>
            </div>
            <ul >
                <li class="display-box" ng-repeat="message in messageList">
                    <div class="row">
                        <div id="message-list-title" class="blocktitle title">
                            <span class="title-1"><strong><em>{{message.Title}}</em></strong> ({{message.Date}} {{message.Time}})</span>
                            <span class="title-2"><a >Edit</a></span>
                        </div>
                        <div class="list-info">
                            <p>{{message.Content}}</p>
                            <!--
                            <div class="footer">
                                <a ng-click="setPersonalInfoViewMore(true)" ng-hide="personalInfoViewMore"> 
                                    View More<img class="view-more-img">
                                </a>
                                <a ng-click="setPersonalInfoViewMore(false)" ng-show="personalInfoViewMore">Close Details</a>
                            </div>-->
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
